/**
 * Media query from
 * https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 * (iphone 6)
 * Took out some of the conditions since I want to target all mobile devices
 */
@media (max-device-width: 400px) {// and (-webkit-device-pixel-ratio: 2) {

    body {
        font-size: 18px;
    }

    .highlight {
        font-size: 12px;
    }

    .typl8-giga {
        font-size: 3rem;
    }

    .navigation {
        .navlogo {
            margin-left: -260px;
        }
        .coords {
            display: none;
        }
        .menu {
            .menu-btn {
                display: inline;
            }
            .menu-list {
                display: none;
            }
        }
    }
}
