// Target mobile phones and tablets in portrait
@media (max-width: 900px) {

    body {
        font-size: 18px;
    }

    .highlight {
        font-size: 12px;
    }

    .typl8-giga {
        font-size: 3rem;
    }

    .navigation {
        .navlogo {
            margin-left: -260px;
        }
        .coords {
            display: none;
        }
        .menu {
            .menu-btn {
                display: block;
            }
            .menu-list {
                display: none;
            }
        }
    }
}
