// Base/default styles for webslinger.io
body {
    background: lighten($light, 5%);
    font-family: 'Adobe Garamond', 'Garamond', 'Georgia', 'serif';
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: 'League Gothic'; // leaguegothic.css
    font-weight: bold;
    margin-bottom: 0.75em;
    text-shadow: 3px 3px 0 $light_alt;
}

a {
    color: darken($highlight, 10%);
    text-decoration: underline;
}
a:hover {
    color: lighten($highlight, 10%);
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: lighten($dark, 35%);
    background-image: linear-gradient(
        left,
        lighten($dark, 65%),
        lighten($dark, 45%),
        lighten($dark, 65%)
    );
    margin: 0;
    margin-bottom: 1.0em;
}

p {
    text-indent: 0;
}
// add back in some spacing between paragraphs
p + p {
    margin-top: -0.75em;
    text-indent: 0;
}

// This is the main container for all of our content
.page-content {
    max-width: 740px;
    margin: 0 auto !important;
    padding: 1.5em;
}
