
.navigation {
    background: $dark_alt;
    border-bottom: 1px solid $light;
    box-shadow: 0 1px 1em lighten($dark, 35%);
    width: 100%;
    height: 52px;
    overflow: hidden;
    padding: 0;

    .navlogo {
        height: 100%;
    }
}
