
.footer {
    background: lighten($dark, 65%);
    color: $dark;
    margin-top: 3.0em;
    width: 100%;

    hr {
        border: 0;
        height: 1px;
        background: lighten($dark, 35%);
        background-image: linear-gradient(
            left,
            lighten($dark, 65%),
            lighten($dark, 45%),
            lighten($dark, 65%)
        );
        margin: 0;
        margin-bottom: 1.0em;
    }

    p {
        text-indent: 0;
    }

    .fnav {
        //border-bottom: 1px solid lighten($dark, 45%);
        margin: none;
        text-align: center;
        width: 100%;
    }

    .fnav a {
        color: lighten($dark, 10%);
        font-family: 'League Gothic';
        font-size: 175%;
        font-weight: bold;
        letter-spacing: 0.075em;
        text-decoration: none;
        text-shadow: 2px 2px 0 darken($light_alt, 15%);
    }
    .fnav a:hover {
        color: lighten($dark, 20%);
    }

    .fnav ul {
        margin: 0;
        padding: 0;
    }
    .fnav li {
        display: inline;
        list-style-type: none;
        padding: 0 1.0em;
    }

    .social-icons {
        margin: 0;
        padding: 0;

        li {
            display: inline;
            list-style-type: none;
            padding: 0 0.5em;
        }

        .icon {
            fill: lighten($dark, 25%);
            height: 32px;
            width: 32px;
        }
        .icon:hover {
            fill: lighten($dark, 35%);
        }
    }
}
