
.navigation {
    background: $dark_alt;
    border-bottom: 1px solid $light;
    box-shadow: 0 1px 1em lighten($dark, 35%);
    width: 100%;
    height: 52px;
    overflow: hidden;
    padding: 0;

    .navlogo {
        float: left;
        height: 100%;
    }

    .menu {
        //margin: none;
        float: left;
    }

    .menu a {
        color: $light_alt;
        font-family: 'League Gothic';
        font-size: 135%;
        font-weight: bold;
        letter-spacing: 0.075em;
        text-decoration: none;
        text-shadow: 2px 2px 0 $dark_alt;
    }
    .menu a:hover {
        color: $light;
    }

    .menu ul {
        margin: 0;
        padding: 0.25em 0;
    }
    .menu li {
        display: inline;
        list-style-type: none;
        padding: 0 0.75em;
    }
}
