
.navigation {
    background: $dark_alt;
    border-bottom: 1px solid $light;
    box-shadow: 0 1px 1em lighten($dark, 35%);
    width: 100%;
    height: 52px;
    overflow: hidden;
    padding: 0;

    .navlogo {
        height: 100%;
    }

    .menu {
        float: right;
        display: inline;
        margin-right: 1.0em;
    }
}

// From: http://sarasoueidan.com/blog/navicon-transformicons/

//variables are used to make the buttons more flexible and easier to customize
//these variables are replaced with their values in the compiled CSS
$base : 0.55rem;
$space : $base/4;
$color : $light;
$transition: 0.30s;

button {
  display: inline-block;
  margin: 0 1em;
  outline: none;
  border: none;
  background: none;
}
button span {
  display: block;
}

.grid-button {
  padding: $base*2; //2rem
  cursor: pointer;
  user-select: none;
}

.grid-button .grid {
    width: $base;
    height: $base;
    background: $color;
    color: $color; /* Not in use when the colors are specified below */
    transition: $transition;
}
.grid-button.rearrange .grid{
    box-shadow:
      -($base+$space) 0 -($base+$space),
      0 0 -($base+$space),
      ($base+$space) (-($base + $space)),
      -($base+$space) 0,
      $base+$space 0,
      -($base+$space) ($base + $space),
      0 ($base+$space),
      ($base+$space) ($base + $space);

}
.grid-button.rearrange.close .grid{
      box-shadow:
        0 0 -$base,
        0 0 -$base*2,
        $base 0,
        -$base*2 0,
        $base*2 0,
        -$base 0,
        0 $base*2,
        0 $base;
      transform: rotate3d(0,0,1,-45deg)  scale3d(.8,.8,.8);
}
