
.post-meta {
    color: lighten($dark, 35%);
    font-size: 80%;
}

.post-header-img {
    border-radius: 0.5em;
    width: 100%;
}

.highlight {
    background-color: transparent;
    border-bottom: 1px solid $light_alt;
    border-top: 1px solid $light_alt;
    font-size: 12px;
    margin-bottom: 1.5em;
    padding: 0.15em 1.5em;
}
