
.post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    h2 {

        margin-bottom: 0.25em;

        a {
            color: $dark_alt;
            text-decoration: none;
        }
        a:hover {
            color: lighten($dark_alt, 10%);
            text-decoration: none;
        }
    }

    li {
        //border-bottom: 1px solid lighten($dark_alt, 65%);
        margin-bottom: 1.5em;
    }
}
