
.post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    h2 {

        margin-bottom: 0.25em;

        a {
            color: $dark_alt;
            text-decoration: none;
        }
        a:hover {
            color: lighten($dark_alt, 10%);
            text-decoration: none;
        }
    }

    li {
        margin-bottom: 1.5em;
    }

    .date {
        color: lighten($dark, 25%);
        float: left;
        font-family: $font_header;
        margin: -1.0em 1.25em 1.25em 0;
        text-align: center;
        text-shadow: 3px 3px 0 $light_alt;

        span {
            display: block;
            margin: 0;
            padding: 0;
        }

        .day {
            font-size: 400%;
        }
        .mon {
            letter-spacing: 0.09em;
            margin: -1.5em;
        }

    }
}
