<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="abstract" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />

    <meta name="rights" content="Copyright 2015, Michael Bowman. All rights reserved." />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on" />  <![endif]-->
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="msapplication-TileColor" content="#d7624e" />
    <!-- meta name="msapplication-TileImage" content="/appicon-144x144.png" / -->
    <meta name="theme-color" content="#d7624e" />

    <!-- Open Graph Tags -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="{% if page.type %}{{ page.type }}{% else %}article{% endif %}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.image | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
    <meta property="article:author" content="Michael Bowman" />
    <meta property="article:section" content="{% if page.section %}{{ page.section }}{% else %}Web Development{% endif %}" />
    <meta property="article:published_time" content="{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}" />

    <!-- Twitter Tags -->
    <meta name="twitter:card" value="summary" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel=“author” href=“https://plus.google.com/+MichaelBowmanRocks” />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{"/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/fonts/leaguegothic.css" />
    <link rel="stylesheet" href="/styles/vendor.min.css" />
    <link rel="stylesheet" href="/styles/site.min.css" />

</head>
